<div class="container m-5">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4>¿Desea confirmar la transaccion?</h4>
                </div>
                <div class="card-body">
                    <p>Empresa: {{date.empresa}}</p>
                    <p>Cedula o numero: {{date.documento}}</p>
                    <p>Cantidad a Pagar: {{date.cantidad}} Bs.S</p>  
                    <p>Nombre del responsable: {{date.nombre}}</p>
                </div>
            </div>
        </div>
    </div>
</div>